<a href="https://colab.research.google.com/github/finardi/tutos/blob/master/CompareAll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import uuid 
import pandas as pd
import numpy as np
from itertools import combinations
from scipy.spatial import distance # 1- cos_similarity

In [6]:
# gerando IDS alpha numéricos
ids_ = [uuid.uuid4().hex[:6].upper() for i in range(7_000)]

#garantindo que os IDS gerados são únicos
ids_ = list(set(ids_)); print(len(ids_))
df = pd.DataFrame({'ID':ids_})

# fake embeddings
embs = []
for i in range(len(ids_)):
    embs.append(np.random.random(768))
embs = np.array(embs)

df

7000

          ID
0     5C5D34
1     DC403D
2     71B93F
3     F5CCD4
4     48DDAD
...      ...
6995  C2463E
6996  579067
6997  68C114
6998  30C081
6999  8D8916

[7000 rows x 1 columns]

In [16]:
def similarities(df, embs, verbose=True):
    comb = np.fromiter(combinations(range(embs.shape[0]), 2), dtype='i,i')
    ids = df.ID.values
    ids1 = ids[comb['f0']]
    ids2 = ids[comb['f1']]
    l = [(ids1[i], ids2[i]) for i in range(ids1.shape[0])]

    norms = np.linalg.norm(embs, axis=1)

    df_new = pd.DataFrame([])
    #------------------------------------------------------------
    for j, id in enumerate(comb):
        cos_dist = distance.cosine(embs[id[0]], embs[id[1]])
        id_1 = l[id[0]][0]
        id_2 = l[id[0]][1]
        df_new = df_new.append(pd.DataFrame(
            {
                'ID1': id_1, 
                'ID2': id_2, 
                'COS_DIST': cos_dist
            }, 
            index=[0]), ignore_index=True)

        if verbose:
            if j%500_000==0:
                print(f'{j} of {comb.shape[0]}')
    #------------------------------------------------------------
    return df_new

In [ ]:
%%time 
df_sim = similarities(df, embs)

0 of 24496500